<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./AboutUs.css">
    
    
    <title>About Us</title>
    
</head>
<body>
        <div class="staff_information_left">
            
            <img class="staff_photos" src="./images/Ross.jpg" alt="Director of Job Training and Employment Services: Jeannie Ross"></img>

            <p class="staff_details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit totam reiciendis, cumque eos voluptates unde perferendis facere, blanditiis neque hic officia consectetur illum sed ratione rerum facilis asperiores deleniti eum.</p>
        </div> 
        <div class="staff_information_right">
            <p class="staff_details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit totam reiciendis, cumque eos voluptates unde perferendis facere, blanditiis neque hic officia consectetur illum sed ratione rerum facilis asperiores deleniti eum.</p>
            <img class="staff_photos" src="./images/Ron Cofield-T2 Academy Employment Specialist.jpg" alt="T2 Academy Employment Specialist: Ron Cofield"></img>
            
        </div> 
        <div class="staff_information_left">
            <img class="staff_photos" src="./images/Martha Blaides- T2 Case Manager.jpg" alt="T2 Case Manager: Martha Blaides"></img>

            <p class="staff_details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit totam reiciendis, cumque eos voluptates unde perferendis facere, blanditiis neque hic officia consectetur illum sed ratione rerum facilis asperiores deleniti eum.</p>
        </div> 
        <div class="staff_information_right">
            <p class="staff_details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit totam reiciendis, cumque eos voluptates unde perferendis facere, blanditiis neque hic officia consectetur illum sed ratione rerum facilis asperiores deleniti eum.</p>
            <img class="staff_photos" src="./images/John McQueen- T2 Recruitment Leader.jpg" alt="T2 Recruitment Leader: John McQueen"></img>
        </div> 
</body>
</html>