<section>
  <div class="container">
    <div class="rows">
      <div class="col-1">
        <div class="svg-img">
          <figure class="img-figure">
            <img src="" alt="" />
        </div>
        <div class="col-title">
          <span>1. Title</span>
        </div>
        </figure>
        <div class="col-content-block">
          <p class="col-summary">Summary</p>
        </div>
      </div>
      <div class="col-1">
        <div class="svg-img">
          <figure class="img-figure">
            <img src="" alt="" />
        </div>
        <div class="col-title">
          <span>2. Title</span>
        </div>
        </figure>
        <div class="col-content-block">
          <p class="col-summary">Summary</p>
        </div>
      </div>
      <div class="col-1">
        <div class="svg-img">
          <figure class="img-figure">
            <img src="" alt="" />
        </div>
        <div class="col-title">
          <span>3. Title</span>
        </div>
        </figure>
        <div class="col-content-block">
          <p class="col-summary">Summary</p>
        </div>
      </div>
      <div class="col-1">
        <div class="svg-img">
          <figure class="img-figure">
            <img src="" alt="" />
        </div>
        <div class="col-title">
          <span>4. Title</span>
        </div>
        </figure>
        <div class="col-content-block">
          <p class="col-summary">Summary</p>
        </div>
      </div>
    </div>
  </div>
</section>