  .staff_information_left{
    display: grid;
    padding: 1rem;
    grid-template-columns: 300px 1fr;
    gap: 1.5rem;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    font: 500 100%/1.5 system-ui;
    
    
  }
  .staff_information_right{
    display: grid;
    padding: 1rem;
    grid-template-columns: 525px 1fr;
    gap: 0rem;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    font: 500 100%/1.5 system-ui;
    
  }
  img {
    max-width: 20vw;
    height:auto;
    
  }




  @media (max-width: 650px) {
    .staff_information_left {
      display: block;
      font-size: 80%;
      margin: 1rem;
      padding: 2rem 2rem;
      text-align: center;
      
    }
    .staff_information_right {
      display: block;
      font-size: 80%;
      margin: 1rem;
      padding: 2rem 2rem;
      text-align: center;
      
    }

    p {
      position: relative;
      margin: -1.5rem 0 2rem -1.5rem;
      overflow-wrap: normal;
      
    }
   

  }