*{
    font-family:din-condensed-web;src:url(https://use.typekit.net/af/cfbead/0000000000000000000146b3/27/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/cfbead/0000000000000000000146b3/27/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/cfbead/0000000000000000000146b3/27/a?subset_id=2&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;font-stretch:normal;font-display:auto;
    width:100%
  }

  .staff_information_left{
    display: grid;
    padding: 1rem;
    grid-template-columns: 300px 1fr;
    gap: 1.5rem;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    font: 500 100%/1.5 system-ui;
    
    
  }
  .staff_information_right{
    display: grid;
    padding: 1rem;
    grid-template-columns: 525px 1fr;
    gap: 0rem;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    font: 500 100%/1.5 system-ui;
    
  }
  img {
    max-width: 20vw;
    height:auto;
    
  }

  body {margin: 0; height: 100%; overflow-x: hidden; }




  @media (max-width: 650px) {
    .staff_information_left {
      display: block;
      font-size: 80%;
      margin: 1rem;
      padding: 2rem 2rem;
      text-align: center;
      
    }
    .staff_information_right {
      display: block;
      font-size: 80%;
      margin: 1rem;
      padding: 2rem 2rem;
      text-align: center;
      
    }

    p {
      position: relative;
      margin: -1.5rem 0 2rem -1.5rem;
      overflow-wrap: normal;
      
    }
   

  }